header {
  font-family: 'Lucida Sans', Verdana, sans-serif;
}

header, footer {
  background: rgb(212, 235, 152);
  color: black;
  padding: 5px;
}

#logo-header {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}

main {
  background-color: rgb(236, 116, 18);
  padding: 16px;
  color: white;
  font-family: 'Lucida Sans', Verdana, sans-serif;
}

img {
  margin: 32px;
}

.rede-social {
  font-family: 'Segoe UI', Verdana, sans-serif;
  margin: 8px;
}
